analytics {

	.goingBox{
		display: inline-block;
	    padding: 5px;
	    border: 1px solid black;
	    border-radius: 10px;
	    margin: 3px;
	}


	#A{
		margin-top: 50px;
		width: 800px;
		height: 400px;
	}

	#B{
		margin-top: 50px;
	}



}
